@use'../../../partials/variables' as *;

main{
  a{
    text-decoration: none;
    position: absolute;
    top: 4%;
    left: 3%;
    cursor: pointer;
    display: flex;
    font-size: 1.1875rem;
    font-family: $btn-font;
  }

  section{
    width: 41.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
    }

    p{
      text-align: center !important;
      font-size: 1.4375rem;
      color: #545454;
    }

    form{
      margin-top: 1.25rem;
      width: 100%;
    }
  }
}
