@use '../../../../partials/mixins' as *;
@use '../../../../partials/variables' as *;

main{
  width: 40.8125rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .login-grp-1{
    display: flex;
    flex-direction: column;
    button{
      @include button-style;
    }

    .divider{
      @include divider-with-text;
    }
  }

  .login-grp-2{
    h3{
      font-size: 2.0625rem;
      font-family: $title-font;
    }

    form{
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: .625rem;

      button{
        margin-top: 1.25rem;
        @include button-style($bg-color:#DD5928,$color:#fff);
        border: none;
      }

      a{
        color: #DD5928;
        cursor: pointer;
        text-align: end;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }

  .login-grp-3{
    margin-top: 1.25rem;
    text-align: center;
    font-size: 1rem;
    a{
      cursor: pointer;
      color: #DD5928;
      position: relative;

      &.link-effect::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .7px;
        background: #DD5928;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }

      &.link-effect:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
